$Very-dark-desaturated-blue: #1d1e35;
$Soft-red: #f47c57;
$Soft-violet: #af67e9;
$Soft-blue: #6565e7;
$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;
$Light-grayish-blue: #e7e7e9;
$BG-gradient: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
